@tailwind base;
@tailwind components;
@tailwind utilities;

.done {
	color: #059669;
	transition: font-weight 0.3s ease-in-out;
}

.icon {
	border-radius: 9999px;
}

.icon:hover {
	background-color: #e2e8f0;
}

.box {
	transition: border-width 0.1s ease-in-out;
}

.box:hover {
	border-width: 2px;
	border-color: #f87171;
}

.box-done {
	opacity: 0.6;
}

.color-icon {
	color: #f87171;
}

.violet-icon:hover {
	border-radius: 9999px;
	background-color: #e2e8f0;
}

body {
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
	@apply bg-white dark:bg-zinc-800 text-black dark:text-white text-center;
}

nav {
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out;
}
